.splash {
  font-family: 'Orbitron', sans-serif;
  font-size: 117px;

  .logo {
    display: flex;
    justify-content: center; /* vertical */
    padding-top: 25vh;
  }

  a, a:link, a:visited {
    text-decoration: none;
    color: black !important;
  }

  .first-letter {
    color: steelblue;
    z-index: 1;
  }

  .short-logo {
    opacity: 0;
    position: relative;
    left: -27px;
    width: 0px;
    transition: all 0.3s ease-in;
  }

  .short-logo-hover {
    position: relative;
    left: -27px;
    width: 665px;
    transition: all 0.3s ease-in;
  }

  .links {
    opacity: 0;
    font-size: 16px;
    padding-bottom: 25vh;
  }

  .links-hover {
    display: flex;
    justify-content: center; /* vertical */
    font-size: 16px;
    padding-bottom: 25vh;

    a, a:link, a:visited {
      margin: 0px 50px;
    }
    a:hover {
      color: gray !important;
    }

    transition: all 0.3s ease-in;
  }

  .v--modal-overlay {
    font-size: 16px;
  }
}
